{{ if ne .Params.showcomments false }}
    {{ if .Site.Config.Services.Disqus.Shortname }}
        {{ partial "page-single/comment/disqus.html" . }}
    {{ else if .Site.Params.GraphCommentId }}
        {{ partial "page-single/comment/graphcomment.html" . }}
    {{ else if .Site.Params.UtterancesRepo }}
        {{ partial "page-single/comment/utterances.html" . }}
    {{ else if .Site.Params.Commento }}
        {{ partial "page-single/comment/commento.html" . }}
    {{ else if .Site.Params.giscus.repo }}
        {{ partial "page-single/comment/giscus.html" . }}
    {{ end }}
{{ end }}
